.grid-item__icon {
  width: 22px;
  height: 19px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 22px 19px;
  background-image: url(../../../images/heart.svg);
  border: none;
  background-color: #fff;
  cursor: pointer;
}

.grid-item__icon:hover {
  opacity: 0.5;
}

.grid-item__icon:active {
  color: black;
  background-image: url(../../../images/heart-black.svg);
  opacity: 1;
}