.profile {
  margin: 0 auto;
  max-width: 880px;
  padding-top: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 920px) {
  .profile {
    max-width: 666px;
  }
}

@media screen and (max-width: 707px) {
  .profile {
    max-width: 320px;
    flex-direction: column;
    padding-top: 42px;
    row-gap: 36px;
  }
}