.header__logo {
  background-image: url(../../../images/header-logo.svg);
  background-size: 142px 33px;
  width: 142px;
  height: 33px;
}

@media screen and (max-width: 707px) {
  .header__logo {
    margin-left: 27px;
    background-size: 104px 25px;
    width: 104px;
    height: 25px;
  }
}