.popup__save-button {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  width: 358px;
  height: 50px;
  background-color: black;
  border: none;
  color: white;
  margin: 0 auto;
  border-radius: 2px;
  cursor: pointer;
}

@media screen and (max-width: 707px) {
  .popup__save-button {
    width: 238px;
    font-size: 14px;
    line-height: 17px;
  }
}

.popup__save-button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}